.board { max-height: 100%; font-size: 1.5rem; /* 24px */
         padding: 0.125em 0; background: #ccc; }
    .board-mod { display: flex; flex-direction: column; flex-grow: 1; } /* flex-shrink: 1; default */
        .flex-row { display: flex; justify-content: center; } /* align-items: stretch; default */

.button {
    display: inline-block;
    margin: 0.125em;
    height: 2em; line-height: 2em;
    cursor: pointer;
    box-shadow: 0 0.083em #999;
    background: #ffffff;
}
.button:active { margin-top: 0.25em; margin-bottom: -0.125em; box-shadow: none; }

.key { 
    width: 100%; height: 100%;
    font-family: 'helvetica', arial, sans-serif;
    text-align: center;
    color: #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.lowercase .button,
.uppercase .button,
.numeric .button { width: 2.542em; }

.button.spacebar { width: 22.042em; }