#input_container,
#keyboard_container { position: relative; z-index: 10; margin: 0 auto; width: 100%; 
                      text-align: center; font-size: 1.5rem;/*24px*/  }

#input_container input {
    display: block;
    padding: 0.278em 1em 0.278em 2.038em;
    height: 100%; width: 100%;
    box-sizing: border-box; border: #ccc 2px solid; outline: none;
    text-align: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.5em; line-height: 100%; letter-spacing: 0.04em; 
    color: #000;
}
::-webkit-input-placeholder { line-height: 100%; color: #989898; }
::-moz-placeholder { color: #989898; }
:-ms-input-placeholder { color: #989898; }

.board { padding: 0.1875em 0; max-height: 100%; background: #ccc; }
    .character-set { display: flex; display: -webkit-flex; flex-direction: column; flex-grow: 1; } /* flex-shrink: 1; default */
        .flex-row { display: flex; display: -webkit-flex; justify-content: center; } /* align-items: stretch; default */
            .button {
                display: inline-block;
                margin: 0.125em;
                width: 2.542em; height: 2em; line-height: 2em;
                cursor: pointer;
                box-shadow: 0 0.083em #999;
                background: #ffffff;
                color: #000;
            }
            .button:active { margin-top: 0.25em; margin-bottom: -0.125em; box-shadow: none; }
                .key { 
                    width: 100%; height: 100%;
                    text-align: center;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none; 
                }
                    [class^="icon-"]:before,
                    [class*=" icon-"]:before { display: inline; line-height: 100%; }

.uppercase,
.numeric { display: inline-block; vertical-align: top; }
.numeric { margin-left: 1.25em; }

.button.delete { width: 5.3em; color: #676767; }
.button.go { width: 5.3em; background: linear-gradient(#208153, #156841); color: #fff; }
.button.caps { color: #000; }
.button.spacebar { width: 22.042em; }
.button.blank,
.button.cursor-left,
.button.cursor-right { background-color: #676767; color: #fff; }
.button.blank:active { margin: 0.125em; box-shadow: 0 0.083em #999; }

.icon-delete { font-size: 1.83em; }
[class^="icon-cursor-"] { font-size: 0.875em; }

.icon-spyglass {
    position: absolute;
    top: 50%; left: 0.55em;
    margin-top: -0.6em;
    font-size: 1.18em;
    color: #156841;
}
.icon-clear {
    position: absolute;
    top: 50%; right: 4.67em;
    margin-top: -0.55em;
    font-size: 1.25em;
    color: #b3b3b3;
}
button.cancel {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    padding: 0; width: 5.2em;
    font-size: 1em; font-weight: lighter;
    color: #fff; background: #b3b3b3; 
    box-sizing: border-box; border: #ccc 2px solid;
    border-right: none; border-left: none;
    outline: none;
}

#keyboard_container,
button.cancel,
.icon-clear { display: none; }

.focused ~ #keyboard_container,
.focused button.cancel,
.not-empty .icon-clear { display: block; -webkit-animation: fadeIn 100ms; animation: fadeIn 100ms; }

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}