.board { padding: 0.125em 0; max-height: 100%; font-size: 1.5rem; /* 24px */
         background: #ccc; }
.board-mod { display: flex; flex-direction: column; flex-grow: 1; } /* flex-shrink: 1; default */
.flex-row { display: flex; justify-content: center; } /* align-items: stretch; default */

.button {
    display: inline-block;
    margin: 0.125em;
    width: 2.542em; height: 2em; line-height: 2em;
    cursor: pointer;
    box-shadow: 0 0.083em #999;
    background: #ffffff;
    color: #000;
}
.button:active { margin-top: 0.25em; margin-bottom: -0.125em; box-shadow: none; }

.key { 
    width: 100%; height: 100%;
    font-family: 'helvetica', arial, sans-serif;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.button.blank,
.button.cursor-left,
.button.cursor-right { background-color: #676767; }
.button.delete { width: 5.3em; color: #676767; }
.button.spacebar { width: 22.042em; }
.button.go { width: 5.3em; background: linear-gradient(#208153, #156841); color: #fff; }
.button.caps { color: #000; }
.button.blank:active { margin: 0.125em; box-shadow: 0 0.083em #999; }
.button.cursor-left,
.button.cursor-right { color: #fff; }

[class^="icon-"]:before, 
[class*=" icon-"]:before { display: inline; }