html { font-size: 8px; }

html,
body,
#main { height: 100%; }

#main input,
#keyboard_container { margin: 0 auto; width: 100%; text-align: center; }

#main input { 
    display: block;
    padding: 1% 2%; 
    height: 20%; 
    box-sizing: border-box; border: #333 3px solid;
    text-align: left; 
    font-size: 4.4em; line-height: 100%; letter-spacing: 0.04em; 
}

#keyboard_container { height: 80%; }

@media screen and (min-width:  990px) { html { font-size: 16px; } }


/* Custom keyboard layout
   ========================================================================== */
.uppercase,
.numeric { display: inline-block; vertical-align: top; }

.numeric { margin-left: 1.25em; }