html { font-size: 8px; }

html,
body,
#main { height: 100%; }

#main input,
#keyboard_container { margin: 0 auto; width: 100%; text-align: center; }

#main input { 
    display: block;
    padding: 1% 2%; 
    height: 20%; 
    box-sizing: border-box; border: #333 3px solid;
    text-align: left; 
    font-size: 4.4em; line-height: 100%; letter-spacing: 0.04em; 
}

#keyboard_container { height: 80%; }

@media screen and (min-width:  320px) { html { font-size:  9px; } }
@media screen and (min-width:  480px) { html { font-size: 11px; } }
@media screen and (min-width:  600px) { html { font-size: 12px; } }
@media screen and (min-width:  800px) { html { font-size: 13px; } }
@media screen and (min-width: 1000px) { html { font-size: 16px; } }
@media screen and (min-width: 1200px) { html { font-size: 19px; } }
@media screen and (min-width: 1500px) { html { font-size: 25px; } }
@media screen and (min-width: 1800px) { html { font-size: 32px; } }
@media screen and (min-width: 2300px) { html { font-size: 40px; } }
@media screen and (min-width: 3000px) { html { font-size: 46px; } }


/* Custom keyboard layout
   ========================================================================== */
.lowercase { flex-grow: 2; }

.lowercase .flex-row,
.numeric,
.numeric .button { flex-grow: 1; }